#about-parent{
    padding: 90px 100px; 
    /* margin-top: 20px; */
    font-family: 'Poppins', sans-serif;
}

.dark .about-div h2{
    color: #F8F9FA;
}
.about-div p{
    text-align: justify;
    margin-bottom: 60px;
}
.about-div .about .line{
    background-color: aqua;
    width: 130px;
    height: 4px;
}
#about-parent .about{
    margin: 40px 0;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
}
.about-wrapper .about-div{
    margin-right: 100px;
}
.about-wrapper .skill-div{
    margin-right: 100px;
}
.about-wrapper .skill{
    margin: 40px 0;
}
.about-wrapper .skill .line{
    background-color: aqua;
    width: 130px;
    height: 4px;
}
.about-div p img{
   width: 50px;
}

.skills .chip{
    margin: 5px;
}
.dark .chip{
    color: #fff !important; 
}
.skill-div .skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


@media ( max-width: 968px){
    #about-parent{
        padding: 20px 50px; 
    }
    .about-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* margin-right: 50px; */
    }
    .about-div p{
        text-align: center;       
        margin-bottom: 60px;
    }
   
    .about-wrapper .about-div{
        margin: 0;
    }
    .about-wrapper .skill-div{
        margin: 0;
        /* align-self: center; */
        text-align: center;
    }

    .about-div .about .line{
        margin: auto;
    }
    .about-wrapper .skill .line{
        margin: auto;
    }

    .skill-div .skills{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
