.error-page {
    height: 100vh;
    overflow-y: hidden;
}
.error-parent{
    font-family: 'Poppins', sans-serif;
}
.error-parent .img-div{
    margin: auto;
    max-width: max-content;
    height: 100vh;
}
.error-parent .img-div img{
    width: 100%;
    height: 80%;
}
.error-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2rem 2rem 0 2rem;
}