.contact-wrapper{
    padding: 90px 100px; 
    margin-top: 75px;
    font-family: 'Poppins', sans-serif;
}
.contact-div{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.dark .contact h3{
    color: #F8F9FA;
}
.contact-logo{
    width: 380px;
    margin-top: 0;
}
.contact-logo img{
    width: 100%;
}

.contact-wrapper .contact{
    margin: 40px 0;
}
.contact-wrapper .contact .line{
    background-color: aqua;
    width: 130px;
    height: 4px;
}
.contact-wrapper hr{
    color: aqua;
    padding: 2px;
}

.contact-div form{
    display: flex;
    flex-direction: column;
    /* margin: auto 0; */
    gap: 20px;
    /* justify-content: center; */
}

/* .contact-div form{
    margin: auto;
} */
.contact-wrapper #btn1{
    margin-top: 20px;
}

@media ( max-width: 1024px){
   
    .contact-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .contact-wrapper .contact{
        margin: 40px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* .contact-div form{
        margin: auto;
        text-align: center;
    } */

   
}

@media ( max-width: 280px){
    .contact-logo{
        width: 300px;
        margin-top: 20px;
    }
}
