#contact-wrapper{
    padding: 1rem 100px; 
    margin: 5rem 0;
    font-family: 'Poppins', sans-serif;
}
.contact-div{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.contact-div img {
    transition: 0.5s all ease;
}
.contact-div img:hover{
    transform: translateY(-5px);
}
.dark .contact h3{
    color: #F8F9FA;
    text-align: center;
}
#contact-wrapper .line {
    margin: auto;
}
.contact-logo{
    width: 380px;
    margin-top: 0;
}
.contact-logo img{
    width: 100%;
}

#contact-wrapper .contact{
    margin: 40px 0;
}
#contact-wrapper .contact .line{
    background-color: aqua;
    width: 130px;
    height: 4px;
}
#contact-wrapper hr{
    color: aqua;
    padding: 2px;
}

.contact-div form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#contact-wrapper #btn1{
    margin-top: 20px;
}

@media ( max-width: 1024px){
   
    .contact-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    #contact-wrapper .contact{
        margin: 40px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media ( max-width: 568px){
    .contact-logo{
        width: 300px;
        margin-top: 20px;
    }
}
