.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 5%;
    height: 100px;
    /* background-color: #F8F9FA; */
    background-color: #FFF;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
}

.logo img{
    width: 50px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
   
}

/* for mobile view */
.nav-links-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-links li{
    display: inline;
    margin:0 10px;
    list-style: none;
}

.home,
.about,
.projects,
.contact,
.mode
{
    text-decoration: none;
    color: #212529;
    margin:0 30px;
    font-weight: bold;

}
.nav-links li a:hover{
    color: rgb(22, 104, 104);
}

.nav-toggle{
    display: none;
}

/* for mobile */
.nav-toggle-active{
    display: none;
}

.nav-toggle div{
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #00FFFF;  
    transition: all .5s;
}

/* for mobile */
.nav-toggle-active div{
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #00FFFF;
    transition: all .5s;
}

/* mode stylings */
.dark .navbar-wrapper {
	background-color: #212529;
}
.dark .nav-links li a{
    color: #F8F9FA;
}
.dark .nav-links li a:hover{
    color: aqua;

}
.dark .nav-toggle div:nth-child(2){
    width: 15px;
    background-color:#F8F9FA;
}

/* nav toggle div width styling */
.nav-toggle div:nth-child(1){
    width: 30px;
}
.nav-toggle div:nth-child(2){
    width: 15px;
    background-color: #212529;
}

/* nav toggle active width */
.nav-toggle-active div:nth-child(1){
    width: 35px;
    transform: translateY(10px) rotate(225deg);
}
.nav-toggle-active div:nth-child(2){
    opacity: 0;
}
.nav-toggle-active div:nth-child(3){
    width: 25px;
    transform: translateY(-10px) rotate(-225deg);
}


/* Media query */
@media screen and (max-width: 780px){
    .nav-links{
        display: none; 
    }
    .nav-toggle{
        display: block;
    }
    .nav-toggle-active{
        display: block;
    }
    .nav-links-mobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
		z-index: 10;
		left: 0;
		right: 0;
		top: 90px;
		height: 90vh;
        margin: 0 auto;
        background-color: #FFF;
    }
    .dark .nav-links-mobile {
        background-color: #212529;
    }

    .nav-links-mobile li{
        list-style: none;
    }
    .nav-links-mobile li a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }
    .nav-links-mobile li a:hover{
        color: rgb(22, 104, 104);
    }
    .dark .nav-links-mobile li a{
        color: #F8F9FA;
    }

    .dark .nav-links-mobile li a:hover{
        color: aqua;
    }
   
}