.footer{
    padding: 10px 50px 40px 50px; 
    font-family: 'Poppins', sans-serif;

}
.footer-icons{
    display: flex;
    justify-content: space-between;
}
.footer hr{
    color: #309696;
    padding: 2px;
}
.Email-icon-div p{
    margin-bottom: 0;
}
.Email-icon-div img{
    width: 50px;
}
.icon-div img{
    width: 40px;
    margin-right: 5px;
}
.dark .icon-div .git{
    background-color: #F8F9FA;
    border-radius: 50%;
}

@media (max-width: 520px){
    .footer-icons{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 280px){
    .footer{
        background-color: #F8F9FA;
        padding: 10px 30px 40px 30px; 
    }
    .icon-div img{
        width: 35px;
    }
    
}