.footer{
    padding: 30px ;
    font-family: 'Poppins', sans-serif;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
}
.footer hr{
    color: #309696;
    padding: 2px;
}
.Email-icon-div p{
    margin-bottom: 0;
}
.Email-icon-div img{
    width: 50px;
}
.Email-icon-div img:hover{
    transform: translateY(-5px);
    transition: 0.5s all ease;
}
.icon-div img{
    width: 40px;
    margin-right: 5px;
}
.dark .icon-div .git{
    background-color: #F8F9FA;
    border-radius: 50%;
}

@media (max-width: 520px){
    .icon-div img{
        width: 30px;
    }
}

@media (max-width: 280px){
    .footer{
        padding: 10px 30px 40px 30px; 
    } 
}