body{
  background-color: #212529;
}
.light{
  background-color: #FFF;
}
.dark{
  background-color: #212529;
  color: #F8F9FA;
}
.light .moon{
  display: none;
}
.dark .sun{
  display: none;
}
.light .fe-dark{
  display: none;
}
.dark .fe-light{
  display: none;
}
#darkMode{
  border: none;
  background-color: transparent;
}

.App-link {
  color: #61dafb;
}
.fe-dark{
  border-radius: 50%;
  border-color: #212529;
}

